<div class="container" id="main_post">
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <br>
      <h3>Editing</h3>
      <%= render 'form', picture: @picture %>
      <br>
      <%= link_to 'Show', @picture, class: 'btn btn-danger' %>
      <%= link_to 'Back', pictures_path, class: 'btn btn-danger' %>
    </div>
  </div>
</div>
