// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* =========共通========= */
body {
  background-color: #fff;
  font-family: 'Avenir Next',"Hiragino Kaku Gothic ProN","游ゴシック Medium",YuGothic,YuGothicM,Meiryo,sans-serif;
  color: #a9a9a9;
}
/* =========ヘッダー========= */

header {
  width: 100%;
  background-color: #555555;
  color: #ffffff;
  height: 70px;
  margin: 0;
  position: fixed;
  padding: 0px;
  z-index: 1;
}

header:after {
  content: "";
  clear: both;
  display: block;
}

header a {
  color: #ECE9D8;
  padding-left: 10px;
  text-decoration: none;

  &:visited {
    color: #ECE9D8;
    text-decoration: none;
  }

  &:hover {
    color: #fff;
    background-color: #F37606;
    text-decoration: none;
  }
}

.logo {
  width: 100px;
  float: left;
  margin-left: 20px;
  font-size: 3rem;
  text-align: center;
}

.header_menu {
  display: inline-block;
  margin-top: 10px;
  padding-left: 150px;
  text-align: center;
}

/* =========サイド========= */

.side_link a {
	position: relative;
	padding: 0.1em 0.3em;
	display: inline-block;
	transition: .3s;
	color: #FFA000;
}

.side_link a ::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	content: '';
	width: 0;
	height: 1px;
	background-color: #FFA000;
	transition: .3s;
	transform: translateX(-50%);
}

.side_link a :hover::after {
	width: 100%;
}

#side {
  margin-top: 100px;
  margin-left: 20px;
}

/* =========メイン========= */
.main-icon {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-right: 80px;
}

.post-menu ul {
  float: left;
  margin: 0;
  padding: 0;
}

.post-menu li {
  // width: 140px;
  text-align: center;
  display: inline-block;
}

.post-menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

#side {
  width: 100px;
}

#post-select {
  margin: 0 auto;
}

.img-logo {
  margin-left:  30px;
}

.img-logo :hover {
  background: #F37606;
}

/* =========Edit,show========= */

#main_post {
  padding-top: 50px;
  text-align: left;
}

/* =========メッセージ========= */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#notice {
  color: #F37606;
  display: inline-block;
  margin-top: 30px;
  padding-left: 200px;
}
